{% extends 'base.html.twig' %}

{% block back %}
    <div class="back"><a href="../">← Назад</a></div>
{% endblock %}

{% block body %}
<tr>
    <td>
    <center>
        <h1>Доступ запрещён!!!</h1>
        <form action="/sekretka" method="get">
            <input name="password" type="text" placeholder="Пароль">
            <button>Проверить</button>
        </form>
        <br>
        <br>
        <h2>{% for message in app.flashes('error') %}{{ message }}{% endfor %}</h2>
    </center>
    </td>
</tr>
{% endblock %}
